@charset "utf-8";
@import "compass";

$window-left: 56px;
$window-top: 35px;
$window-width: 1082px;
$window-height: 718px;

* {
  font-family: "Lucida Grande", "Lucida Unicode MS", sans-serif;
}

body {
  color: #666;
  text-shadow: 0 1px 0 #fff;
}

.frame {
  width: 1195px;
  height: 832px;
  position: relative;
  background-image: url('../images/frame.png');
  background-repeat: no-repeat;
}

.switcher {
  position:absolute;
  z-index: 200;
  right: $window-left + 28px;
  top: $window-top;
  font-size: 16px;
  cursor: default;
  background-image: url('../images/gradient.png');
  background-repeat: repeat-x;
  padding: 2px 0 18px 2px;
  color: #909090;
  &:hover {
    color: #666;
  }
}

.searchfield {
  position:absolute;
  left: $window-left + $window-width - 220px;
  top: 80px;
  z-index: 100;
  input {
    width: 180px;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 14px;
    border: 1px solid #666;
    @include box-shadow( inset 0 1px 2px rgba(0,0,0,0.6), 0 0 4px #408fdb );
  }
}

.all-tabs {
  position:absolute;
  img {
    position:absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    @include transition( all 0.3s ease );
  }
  img.active {
    z-index: 100;
    opacity: 1;
  }
}

.all-tabs.overview {
  .tab-group {
    display: none;
  }
  .tab-group.active {
    display: block;
    img {
      opacity: 1;
    }

    @for $i from 1 to 6 {
      img:nth-child( #{$i} ) {
        $l: $i - 1;
        $j: 0;
        @if $l > 2 {
          $j: 1;
          $l: $l - 3;
        }
        @include transform( translate( #{70+$l*350}px, #{170 + $j*270}px ) scale( 0.3 ));
      }
    }
  }
}


.all-groups {
  position: absolute;
  left: $window-left;
  top: $window-top;
  width: $window-width - 25;
  border-bottom: 1px solid #666;
  @include box-shadow( 0 1px 0 rgba(255,255,255,0.6) );
  padding: 20px 0 3px 26px;

  .group-thumb {
    display: inline-block;
    width: 100px;
    height: 70px;
    border: 4px solid #ccc;
    margin: 10px 10px;
    @include border-radius( 2px );
    @include box-shadow( 0 2px 4px rgba(0,0,0,.6) );
    @include transition( all 0.3s ease );
    &:hover {
      border-color: #ddd;
    }
  }
  .group-thumb.active {
    border: 4px solid #fff;
    @include transform( scale( 1.1 ) );
  }

  .new-group {
    display: inline-block;
    font-size: 40px;
    border: 2px dashed #999;
    padding: 6px 16px;
    position: absolute;
    margin-top: 20px;
    margin-left: 14px;
    cursor: default;
    @include transition( all 0.3s ease );
    &:hover {
      color: #333;
      border-color: #333;
    }
  }
}

.g-research { background-image: url('../images/g-research.png') }
.g-social { background-image: url('../images/g-social.png') }
.g-news { background-image: url('../images/g-news.png') }

