---
title: Tab Spaces Concept by Philipp Sackl
---

<div class="frame">
  <div class="switcher">Research</div>
  
  <div class="all-tabs overview">
    <div class="tab-group">
      <img src="images/r01.png" class="active">
      <img src="images/r02.png">
      <img src="images/r03.png">
      <img src="images/r04.png">
      <img src="images/r05.png">
    </div>
    <div class="tab-group ">
      <img src="images/s01.png">
      <img src="images/s02.png">
    </div>
    <div class="tab-group active">
      <img src="images/n01.png">
      <img src="images/n02.png">
      <img src="images/n03.png">
    </div>
  </div>
</div>
