---
title: Tab Spaces Concept by Philipp Sackl
---

<h1>Firefox Tab Spaces</h1>

<div class="frame">
  <div class="switcher"><i class="icon-th-large"></i></div>
  <div class="searchfield"><input type="text" placeholder="Find a tab"></div>

  <div class="all-groups">
    <div class="group-thumb active g-research" data-group="1"></div>
    <div class="group-thumb g-social" data-group="2"></div>
    <div class="group-thumb g-news" data-group="3"></div>
    <div class="new-group"><i class="icon-plus"></i></div>
  </div>
  
  <div class="all-tabs overview close-possible">
    <div class="tab-group active" data-group="1">
      <div class="tab active"><img src="images/r01.png"><i class="close-btn icon-remove"></i></div>
      <div class="tab"><img src="images/r02.png"><i class="close-btn icon-remove"></i></div>
      <div class="tab"><img src="images/r03.png"><i class="close-btn icon-remove"></i></div>
      <div class="tab"><img src="images/r04.png"><i class="close-btn icon-remove"></i></div>
      <div class="tab"><img src="images/r05.png"><i class="close-btn icon-remove"></i></div>
    </div>
    <div class="tab-group" data-group="2">
      <div class="tab"><img src="images/s01.png"><i class="close-btn icon-remove"></i></div>
      <div class="tab"><img src="images/s02.png"><i class="close-btn icon-remove"></i></div>
    </div>
    <div class="tab-group" data-group="3">
      <div class="tab"><img src="images/n01.png"><i class="close-btn icon-remove"></i></div>
      <div class="tab"><img src="images/n02.png"><i class="close-btn icon-remove"></i></div>
      <div class="tab"><img src="images/n03.png"><i class="close-btn icon-remove"></i></div>
    </div>
  </div>
</div>
