---
title: Tab Spaces Concept by Philipp Sackl
---

<h1>Firefox Tab Spaces</h1>
<p><a href="http://readyformozilla.com/panorama">Read more about the design process</a> <a href="https://vimeo.com/71916569" style="margin-left: 30px;">Watch a video</a></p>

<a href="https://github.com/phlsa/firefox-tab-spaces"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<div class="frame">
  <div class="switcher"><i class="icon-th-large"></i></div>
  <div class="searchfield"><input type="text" placeholder="Find a tab"></div>

  <div class="all-groups">
    <div class="group-thumb active g-research" data-group="1"></div>
    <div class="group-thumb g-social" data-group="2"></div>
    <div class="group-thumb g-news" data-group="3"></div>
    <div class="new-group"><i class="icon-plus"></i></div>
  </div>
  
  <div class="all-tabs overview close-possible">
    <div class="tab-group active" data-group="1">
      <div class="tab active"><img src="images/r01.png"><i class="close-btn icon-remove"></i></div>
      <div class="tab"><img src="images/r02.png"><i class="close-btn icon-remove"></i></div>
      <div class="tab"><img src="images/r03.png"><i class="close-btn icon-remove"></i></div>
      <div class="tab"><img src="images/r04.png"><i class="close-btn icon-remove"></i></div>
      <div class="tab"><img src="images/r05.png"><i class="close-btn icon-remove"></i></div>
    </div>
    <div class="tab-group" data-group="2">
      <div class="tab"><img src="images/s01.png"><i class="close-btn icon-remove"></i></div>
      <div class="tab"><img src="images/s02.png"><i class="close-btn icon-remove"></i></div>
    </div>
    <div class="tab-group" data-group="3">
      <div class="tab"><img src="images/n01.png"><i class="close-btn icon-remove"></i></div>
      <div class="tab"><img src="images/n02.png"><i class="close-btn icon-remove"></i></div>
      <div class="tab"><img src="images/n03.png"><i class="close-btn icon-remove"></i></div>
    </div>
  </div>
</div>